.sideBar {
  background: black;
  color: white;
  height: 100vh;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  a {
    height: 100px;
    text-decoration: none;
    flex-shrink: 0;
    writing-mode: vertical-lr;
    font-size: var(--text-sm);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    border-right: 1px solid transparent;
    transition: 0.1s all;
    width: 100%;

    &:hover {
      color: black; /* Change text color to black on hover */
      background: white; /* Change background to white on hover */
    }
  }

  .selected {
    background: var(--background);
    border-right: 1px solid var(--brand);
    opacity: 1;
  }
}
